#intro {
    background-color: #f57272;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
}

#intro > p {
    flex: 3;
}

#intro > h2 {
    flex : 1;
}

#intro2 {
    background-color: #1da5f4;
    border: 3px solid red;
    border-radius: 15px;
    padding: 5px;
}

#intro2 > h2 {
    text-align: center;
    font-size : 80px;
}

#intro2 > p {
    font-size : 8px;
}